In [149]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [150]:
df = pd.read_csv('final_dataset.csv')

df.dropna()

,Year,District,Crop,Season,Rainfall_mm,Avg_Temp_C,Area_Ha,Yield_t_ha
0,1999.0,cuttack,rice,winter,40.0,25.0,133000.0,0.37
1,2000.0,cuttack,rice,winter,42.0,22.0,139830.0,1.19
5,2004.0,cuttack,rice,winter,46.0,27.0,129000.0,1.94
6,2005.0,cuttack,rice,winter,39.0,20.0,135000.0,2.01
7,2006.0,cuttack,rice,winter,38.0,24.0,121000.0,1.50
...,...,...,...,...,...,...,...,...
9221,2018.0,nuapada,rice,winter,12.0,23.0,56240.0,1.57
9222,2019.0,nuapada,rice,winter,13.0,21.0,51360.0,2.28
9223,2020.0,nuapada,rice,winter,15.0,20.0,54170.0,2.79
9224,2021.0,nuapada,rice,winter,15.0,20.0,59127.0,2.29
9225,2022.0,nuapada,rice,winter,13.0,21.0,64610.0,2.62

In [151]:
cropsToKeep = ['rice','groundnut','moong(green-gram)']

df = df[df['Crop'].isin(cropsToKeep)]

df.head()

,Year,District,Crop,Season,Rainfall_mm,Avg_Temp_C,Area_Ha,Yield_t_ha
0,1999.0,cuttack,rice,winter,40.0,25.0,133000.0,0.37
1,2000.0,cuttack,rice,winter,42.0,22.0,139830.0,1.19
5,2004.0,cuttack,rice,winter,46.0,27.0,129000.0,1.94
6,2005.0,cuttack,rice,winter,39.0,20.0,135000.0,2.01
7,2006.0,cuttack,rice,winter,38.0,24.0,121000.0,1.50

In [152]:
X = df.drop('Yield_t_ha',axis=1)
y = df['Yield_t_ha']

In [153]:
from xgboost import XGBRegressor
from sklearn.model_selection import train_test_split

from sklearn.model_selection import GridSearchCV
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.pipeline import Pipeline

import joblib

In [154]:
loaded_model1 = joblib.load('best_crop_yield_model.joblib')

loaded_model2 = joblib.load('best_crop_yield_model_95PercentR2.joblib')

In [ ]:
# loaded_model1.fit(X)
y_pred1 = loaded_model1.predict(X)
# y_pred2 = loaded_model2.predict(X)

In [ ]:
""" Output = pd.DataFrame([y,y_pred])
Output = Output.transpose()

Output = result = pd.concat([X, Output]) """

X['y'] = y
X['y_pred1'] = y_pred1
# X['y_pred2'] = y_pred2

In [157]:
X

,Year,District,Crop,Season,Rainfall_mm,Avg_Temp_C,Area_Ha,y,y_pred1,y_pred2
0,1999.0,cuttack,rice,winter,40.0,25.0,133000.0,0.37,0.784073,1.707319
1,2000.0,cuttack,rice,winter,42.0,22.0,139830.0,1.19,1.234757,1.690071
5,2004.0,cuttack,rice,winter,46.0,27.0,129000.0,1.94,1.830937,1.727759
6,2005.0,cuttack,rice,winter,39.0,20.0,135000.0,2.01,1.965142,1.690071
7,2006.0,cuttack,rice,winter,38.0,24.0,121000.0,1.50,1.972632,1.710511
...,...,...,...,...,...,...,...,...,...,...
9221,2018.0,nuapada,rice,winter,12.0,23.0,56240.0,1.57,1.726019,2.306328
9222,2019.0,nuapada,rice,winter,13.0,21.0,51360.0,2.28,2.377855,2.584455
9223,2020.0,nuapada,rice,winter,15.0,20.0,54170.0,2.79,2.358536,2.584455
9224,2021.0,nuapada,rice,winter,15.0,20.0,59127.0,2.29,2.313741,2.584455
9225,2022.0,nuapada,rice,winter,13.0,21.0,64610.0,2.62,2.639310,2.639946

In [158]:
X.to_csv('output.csv')

In [159]:
model = loaded_model1[-1]

# 2. Get the feature names from your preprocessor (usually step 0)
# Note: This requires scikit-learn > 1.0
feature_names = loaded_model1[0].get_feature_names_out()

# 3. Create a DataFrame to view them side-by-side
importance_df = pd.DataFrame({
    'Feature': feature_names,
    'Importance': model.feature_importances_
})

# 4. Sort by importance
print(importance_df.sort_values(by='Importance', ascending=False))

                         Feature  Importance
31   cat__Crop_moong(green-gram)    0.449175
8          cat__District_bhadrak    0.105998
30           cat__Crop_groundnut    0.055812
25      cat__District_malkangiri    0.036289
23         cat__District_khordha    0.031052
1               num__Rainfall_mm    0.030416
0                      num__Year    0.020952
7          cat__District_bargarh    0.018730
20       cat__District_kandhamal    0.018229
17         cat__District_jajapur    0.017950
4            cat__District_angul    0.017518
3                   num__Area_Ha    0.014428
32                cat__Crop_rice    0.013848
6        cat__District_baleshwar    0.013321
14        cat__District_gajapati    0.012485
22        cat__District_keonjhar    0.011327
12         cat__District_deogarh    0.011197
2                num__Avg_Temp_C    0.010780
28        cat__District_nayagarh    0.010386
27     cat__District_nabarangpur    0.009986
13       cat__District_dhenkanal    0.009667
9            cat__District_boudh    0.009659
18      cat__District_jharsuguda    0.009556
19       cat__District_kalahandi    0.009244
10         cat__District_cuttack    0.008815
5         cat__District_balangir    0.007873
21        cat__District_kendrapa    0.007117
15          cat__District_ganjam    0.006411
16  cat__District_jagatsinghapur    0.005832
29         cat__District_nuapada    0.005028
11        cat__District_deogaarh    0.004741
24         cat__District_koraput    0.003759
26      cat__District_mayurbhanj    0.002417

In [160]:
y.mean()

np.float64(1.24768216080402)

In [161]:
y_pred1.mean()

np.float32(1.2362357)